In [1]:
import pandas as pd
from  sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [5]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [8]:
#Drop irrelevant column
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

KeyError: "['RowNumber', 'CustomerId', 'Surname'] not found in axis"

In [9]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [10]:
label_encoder_gen=LabelEncoder()
data['Gender']=label_encoder_gen.fit_transform(data['Gender'])

In [17]:
onehotencoder_geo=OneHotEncoder()
geo_encoder=onehotencoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder_df=pd.DataFrame(geo_encoder,columns=onehotencoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [18]:
#combine the data
data=pd.concat([data.drop('Geography',axis=1),geo_encoder_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [20]:
#split the data into features and targets
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [21]:
#split the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
#scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [35]:
#save the encoders and scaler for laterr use
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gen,file)
with open('onehotencoder_geo.pkl','wb') as file:
    pickle.dump(onehotencoder_geo,file)
with open ('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN regression problem statement

In [23]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [24]:
#build a model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])
#compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

d:\Udemy\project1\myenv\Lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [26]:
#set up the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [27]:
#set up early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [28]:
#train the model
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,
callbacks=[tensorflow_callback,early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 100375.1719 - mae: 100375.1719 - val_loss: 98514.4844 - val_mae: 98514.4844
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99654.0078 - mae: 99654.0078 - val_loss: 97080.7656 - val_mae: 97080.7656
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 97189.1328 - mae: 97189.1328 - val_loss: 93478.6797 - val_mae: 93478.6797
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 92360.6719 - mae: 92360.6719 - val_loss: 87435.4609 - val_mae: 87435.4609
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 85257.0000 - mae: 85257.0000 - val_loss: 79499.4922 - val_mae: 79499.4922
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 76727.7188 - mae: 76727.7188 - val_loss: 71028.6016 - val_mae: 71028.6016
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 68221.6719 - mae: 68221.6719 - val_loss: 63364.8945 - val_mae: 63364.8945
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 60986.6484 - mae: 60986.6484 - val_loss: 57438.5469 - val_mae: 57438.5469
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 55898.1211 - mae: 55898.1211 - val_loss: 53697.4766 - val_mae: 53697.4766
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52957.1367 - mae: 52957.1367 - val_loss: 51765.0312 - val_mae: 51765.0312
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51480.4102 - mae: 51480.4102 - val_loss: 50966.5234 - val_mae: 50966.5234
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50801.3594 - mae: 50801.3594 - val_loss: 50657.6680 - val_mae: 50657.6680
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50499.1758 - mae: 50499.1758 - val_loss: 50538.6250 - val_mae: 50538.6250
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50344.5703 - mae: 50344.5703 - val_loss: 50473.0938 - val_mae: 50473.0938
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50254.0586 - mae: 50254.0586 - val_loss: 50425.0781 - val_mae: 50425.0781
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50188.7383 - mae: 50188.7383 - val_loss: 50392.5742 - val_mae: 50392.5742
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50131.9922 - mae: 50131.9922 - val_loss: 50363.8398 - val_mae: 50363.8398
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50086.6211 - mae: 50086.6211 - val_loss: 50345.6602 - val_mae: 50345.6602
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50044.9492 - mae: 50044.9492 - val_loss: 50327.2305 - val_mae: 50327.2305
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50012.5234 - mae: 50012.5234 - val_loss: 50297.5703 - val_mae: 50297.5703
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49980.0391 - mae: 49980.0391 - val_loss: 50276.3242 - val_mae: 50276.3242
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49953.2227 - mae: 49953.2227 - val_loss: 50259.1289 - val_mae: 50259.1289
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49922.0078 - mae: 49922.0078 - val_loss: 50256.7109 - val_mae: 50256.7109
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49899.9922 - mae: 49899.9922 - val_loss: 50253.8164 - val_mae: 50253.8164
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49873.5586 - mae: 49873.5586 - val_loss: 50236.2539 - val_mae: 50236.2539
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49856.7422 - mae: 49856.7422 - val_loss: 50221.7383 - val_mae: 50221.7383
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49828.4023 - mae: 49828.4023 - val_loss: 50213.7305 - val_mae: 50213.7305
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49807.7031 - mae: 49807.7031 - val_loss: 50212.9531 - val_mae: 50212.9531
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49788.7031 - mae: 49788.7031 - val_loss: 50211.1836 - val_mae: 50211.1836
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49775.1289 - mae: 49775.1289 - val_loss: 50217.3750 - val_mae: 50217.3750
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49757.0078 - mae: 49757.0078 - val_loss: 50209.9609 - val_mae: 50209.9609
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49739.4414 - mae: 49739.4414 - val_loss: 50201.9219 - val_mae: 50201.9219
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49724.0195 - mae: 49724.0195 - val_loss: 50199.5195 - val_mae: 50199.5195
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49711.4453 - mae: 49711.4453 - val_loss: 50217.5664 - val_mae: 50217.5664
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49698.2031 - mae: 49698.2031 - val_loss: 50212.6406 - val_mae: 50212.6406
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49684.4141 - mae: 49684.4141 - val_loss: 50203.1602 - val_mae: 50203.1602
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49671.8828 - mae: 49671.8828 - val_loss: 50216.2070 - val_mae: 50216.2070
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49660.9805 - mae: 49660.9805 - val_loss: 50208.8477 - val_mae: 50208.8477
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49648.8359 - mae: 49648.8359 - val_loss: 50202.1523 - val_mae: 50202.1523
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49640.3906 - mae: 49640.3906 - val_loss: 50199.0039 - val_mae: 50199.0039
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49628.1328 - mae: 49628.1328 - val_loss: 50208.1797 - val_mae: 50208.1797
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49613.6758 - mae: 49613.6758 - val_loss: 50205.6523 - val_mae: 50205.6523
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49606.8867 - mae: 49606.8867 - val_loss: 50203.2852 - val_mae: 50203.2852
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49596.6328 - mae: 49596.6328 - val_loss: 50205.7344 - val_mae: 50205.7344
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49588.6641 - mae: 49588.6641 - val_loss: 50220.8203 - val_mae: 50220.8203
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49575.6367 - mae: 49575.6367 - val_loss: 50221.9766 - val_mae: 50221.9766
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49568.9453 - mae: 49568.9453 - val_loss: 50224.3203 - val_mae: 50224.3203
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49561.7344 - mae: 49561.7344 - val_loss: 50229.5039 - val_mae: 50229.5039
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49555.5938 - mae: 49555.5938 - val_loss: 50226.9023 - val_mae: 50226.9023
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49548.4648 - mae: 49548.4648 - val_loss: 50225.1055 - val_mae: 50225.1055

In [29]:
#load tensorboard extension 
%load_ext tensorboard

In [32]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 58788), started 0:00:12 ago. (Use '!kill 58788' to kill it.)

In [33]:
#evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE:{test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50199.0039 - mae: 50199.0039
Test MAE:50199.00390625

In [34]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.